@font-face {
  font-family: Bebas Neue;
  src: url(assets/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(assets/Gilroy-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Bebas Neue;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* utils css */
.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

*>img {
  width: 100%;
}



/* main */
#main {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 26%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);


}

nav {
  width: 100%;
  padding: 1vw 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 26%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);

}

nav ul {
  display: flex;
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 1.3vw;
  margin-right: 2vw;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.name {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 1.5px;
}

/* Introduction */

#introduction {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.intro-text h1 {
  font-size: 5vw;
  font-weight: 500;
}

.intro-text h2 {
  font-size: 3vw;
  font-weight: 500;
}

.intro-text p {
  width: 75%;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: .8px;
  margin-bottom: 1.5vw;
  font-family: Gilroy;
}

.intro-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5vw;
}

.intro-links>a {
  text-decoration: none;
  font-size: 1.2vw;
  letter-spacing: .5px;
  border: 1px solid #fff;
  padding: .4vw .8vw;
  border-radius: 10px;
}

.intro-social-links>a {
  text-decoration: none;
  font-size: 2.5vw;
  margin-right: 1.5vw;
}

.intro-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1vw; */
  /* background-color: rgb(27, 180, 129); */

}

.intro-image>img {
  width: 80%;
  object-fit: cover;

}

.line-parition {
  width: 92%;
  margin: 0 auto;
  height: 1px;
  background-color: #fff;
}

/* About */
#about {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-logo h1 {
  font-size: 6vw;
  letter-spacing: 1px;
}

.about-text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about-text h2 {
  font-size: 3vw;
  letter-spacing: 1px;

}

.about-text p {
  font-size: 1.5vw;
  font-family: Gilroy;
}

.about-text>a {
  text-transform: uppercase;
  margin-top: 1.5vw;
  font-size: 1vw;
  font-family: Gilroy;
}

/* Skills */
#skills {
  width: 100%;
  height: 50vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */

}

.skill-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.skill-logo h1 {
  font-size: 5vw;
  letter-spacing: 1px;
  align-self: flex-start;
}

.skill-images {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.skill-images>img {
  width: 15%;
  object-fit: cover;
}

/* Projects */
#projects {
  width: 100%;
  min-height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-logo {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.project-logo h1 {
  font-size: 5vw;
  letter-spacing: 1px;
  align-self: flex-start;
}

.procover {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;

}

.myProject {
  width: 100%;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
}

.project-image {
  width: 40%;
  object-fit: cover;
}

.project-description {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.project-description h2 {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1vw;
}

.project-description p {
  font-size: 1.3vw;
  font-family: Gilroy;
  margin-bottom: 1vw;
}

.pro-link a {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
  margin-right: 1vw;
}

/* Contact */
#contact {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}