@font-face {
  font-family: Bebas Neue;
  src: url(assets/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Gilroy;
  src: url(assets/Gilroy-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Bebas Neue;
}

html,
body {
  width: 100%;
  height: 100%;
}

* > img {
  width: 100%;
}



/* main */
#main {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 26%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

nav {
  width: 100%;
  padding: 1vw 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 26%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

nav ul {
  display: flex;
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 1.3vw;
  margin-right: 2vw;
  cursor: pointer;
  letter-spacing: 1.5px;
}

.name {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.ham,
.res-menu {
  display: none;
}

/* Introduction */

#introduction {
  width: 100%;
  height: 100vh;
  padding: 5.5vw 4vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.intro-text h1 {
  font-size: 5vw;
  font-weight: 500;
  overflow: hidden;
}

.intro-text h2 {
  font-size: 3vw;
  font-weight: 500;
  overflow: hidden;
}

.intro-text p {
  width: 75%;
  font-size: 1.2vw;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: 1.5vw;
  font-family: Gilroy;
  overflow: hidden;
}

.intro-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5vw;
}

.intro-links>a {
  text-decoration: none;
  font-size: 1.2vw;
  letter-spacing: 0.5px;
  border: 1px solid #fff;
  padding: 0.4vw 0.8vw;
  border-radius: 10px;
}

.intro-social-links > a {
  text-decoration: none;
  border: none;
  font-size: 2.5vw;
  margin-left: 1.5vw;
}

.intro-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-image > img {
  width: 80%;
  object-fit: cover;
}

.line-parition {
  width: 92%;
  margin: 0 auto;
  height: 1px;
  background-color: #fff;
}

/* About */
#about {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about-logo h1 {
  font-size: 6vw;
  letter-spacing: 1px;
}

.about-text {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.about-text h2 {
  font-size: 3vw;
  letter-spacing: 1px;
}

.about-text p {
  font-size: 1.5vw;
  margin: 2vw 0;
  font-family: Gilroy;
}

.about-text > a {
  text-transform: uppercase;
  font-size: 1vw;
  font-family: Gilroy;
}

/* Skills */
#skills {
  width: 100%;
  height: 50vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.skill-logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.skill-logo h1 {
  font-size: 5vw;
  letter-spacing: 1px;
  align-self: flex-start;
}

.skill-images {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
}

.skill-images > img {
  width: 15%;
  object-fit: cover;
}

/* Projects */
#projects {
  width: 100%;
  min-height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

}

.project-logo {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-logo h1 {
  font-size: 5vw;
  letter-spacing: 1px;
  align-self: flex-start;
}

.procover {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}



.myProject {
  width: 100%;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
}

.project-image {
  width: 40%;
  height: 25vh;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}
.project-image img{
  object-fit: cover;
}

.project-description {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.project-description h2 {
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1vw;
}

.project-description p {
  font-size: 1.2vw;
  font-family: Gilroy;
  margin-bottom: 1vw;
}

.pro-link a {
  text-decoration: none;
  font-size: 1vw;
  font-weight: 500;
  margin-right: 1vw;
}

/* Contact */
#contact {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

.contact-logo {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.contact-logo h1 {
  font-size: 5vw;
  letter-spacing: 1px;
  align-self: flex-start;
}

.contact-logo p {
  font-size: 1.8vw;
  font-family: Gilroy;
  letter-spacing: 1px;
  align-self: flex-start;
}

.contact-logo p a {
  font-size: 1.8vw;
  font-family: Gilroy;
  text-decoration: underline;
  align-self: flex-start;
}

.con-link {
  margin-top: 1vw;
}

.con-link > a {
  text-decoration: none;
  font-size: 2.5vw;
  margin-right: 1.5vw;
}

.contact-form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #5b4444; */
}

.contact-form form {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 2vw;
  gap: 0.5vw;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
}

.contact-form form > label {
  width: 100%;
  font-size: 1.5vw;
  font-weight: 900;
  font-family: Gilroy;
}

.contact-form form > input {
  width: 100%;
  font-size: 1.2vw;
  padding: 0.7vw 1vw;
  color: #fff;
  font-weight: 900;
  font-family: Gilroy;

  border-radius: 10px;
  background: transparent;
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
  cursor: pointer;
}

.contact-form form > textarea {
  width: 100%;
  font-size: 1vw;
  padding: 2vw 0.7vw;
  resize: none;
  overflow: auto;
  color: black;
  font-weight: 900;
  font-family: Gilroy;
  border-radius: 10px;
  color: #fff;
  background: transparent;
  box-shadow: 0px 0px 47px -8px rgb(0 0 0 / 20%);
}

textarea::-webkit-scrollbar {
  display: none;
}

.contact-form form > input:nth-last-child(1):hover {
  background: #002d62;
}

.rights{
  width: 100%;
  text-align: center;
  padding: 3vw;
  font-family: Gilroy;
}

@media (max-width: 426px) {
  .cursor{
    display: none;
  }
  /* Navigation bar */
  nav {
    padding: 2vh 7vw;
  }

  nav ul {
    display: none;
  }

  .name {
    font-size: 2.5vh;
    letter-spacing: 1px;
  }
  .ham {
    display: block;
    font-size: 3vh;
  }
  .res-menu {
    width: 100%;
    height: 92vh;
    display: flex;
    padding: 2vh 4vh;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: -100%;
    top: 100%;
    scale: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 26%,
      rgba(9, 9, 121, 1) 100%,
      rgba(0, 212, 255, 1) 100%
    );
  }
  .res-menu li {
    padding: 2vh;
    text-align: center;
  }

  .res-menu li a {
    font-size: 5vh;
  }

  /* Introduction */
  #introduction {
    width: 100%;
    max-height: 100vh;
    padding:7vw;
    margin-top: 3vh;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2vh;  
  }

  .intro-text {
    width: 100%;
  }

  .intro-text h1 {
    font-size: 4.5vh;
  }

  .intro-text h2 {
    font-size: 3.9vh;
  }

  .intro-text p {
    width: 100%;
    font-size: 2vh;
    margin: 5vh 0;
    margin-top: 2vh;
  }

  .intro-links a {
    font-size: 2.5vh;
    padding: 2.5vw;
    border-radius: 10px;
  }

  .intro-social-links > a {
    border: none;
    font-size: 4vh;
  }

  .intro-image {
    width: 100%;
  }

  .intro-image > img {
    width: 100%;
  }
  /* About */
  #about {
    height: 70vh;
    padding: 7vw;

    justify-content: space-evenly;
    flex-direction: column;
  }

  .about-logo {
    display: none;
  }

  .about-logo h1 {
    font-size: 4.5vh;
  }

  .about-text {
    width: 100%;
  }

  .about-text h2 {
    font-size: 3.9vh;
  }

  .about-text p {
    font-size: 2vh;
    margin: 5vh 0;
    margin-top: 2vh;
  }

  .about-text > a {
    margin-top: 1.5vh;
    font-size: 2vh;
  }
  /* Skills */
  #skills {
    width: 100%;
    height: 40vh;

    justify-content: space-evenly;
    flex-direction: column;
  }

  .skill-logo {
    width: 100%;
    justify-content: center;
  }

  .skill-logo h1 {
    font-size: 5vh;
  }

  .skill-images {
    width: 100%;
    gap: 1vh;
  }
  /* Projects */
  #projects {
    min-height: 70vh;
    padding: 7vw;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .project-logo {
    width: 100%;
    justify-content: center;
    margin: 5vh;
  }

  .project-logo h1 {
    font-size: 5vh;
  }

  .procover {
    width: 100%;
    gap: 2vh;
  }
  .myProject {
    width: 100%;
    padding: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    border-radius: 10px;
  }
  .project-image {
    width: 100%;
    height: 25vh;
  }
  .project-description {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .project-description h2 {
    font-size: 4.9vh;
  }

  .project-description p {
    font-size: 2vh;
    margin: 5vh 0;
    margin-top: 1vh;
  }

  .pro-link a {
    font-size: 2.5vh;
  }
  /* Contact */
  #contact {
    height: 100vh;
    padding: 7vw;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    gap: 2vh;
  }

  .contact-logo {
    width: 100%;
  }

  .contact-logo h1 {
    font-size: 5vh;
    margin-bottom: 3vh;
  }

  .contact-logo p {
    font-size: 2vh;
  }

  .contact-logo p a {
    font-size: 2vh;
  }

  .con-link {
    margin-top: 2vh;
  }

  .con-link > a {
    font-size: 4vh;
    margin-right: 1.5vh;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form form {
    width: 100%;
    padding: 4vh 3vw;
    gap: 1.5vh;
  }

  .contact-form form > label {
    font-size: 2.5vh;
  }

  .contact-form form > input {
    font-size: 2vh;
    padding: 2vw;
  }

  .contact-form form > textarea {
    font-size: 2vh;
    padding: 2vh 0.7vw;
  }
}
